body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14pt;
}

h1 {
    font-weight: 400;
    font-style: italic;
    font-size: 10pt;
}

.img {
    justify-content: flex-end;
}

button {
    justify-content: flex-end;
    align-items: flex-start;
    background-color: blue;
    

}

p {
    color: lightslategrey;
}


